<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.karibu_cap.ussd_requests">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.Manifest.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
</manifest>
