<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.karibu.ussd_requests">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <service
            android:name="com.romellfudi.ussdlibrary.USSDServiceKT"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ussd_service"/>
        </service>
    </application>

</manifest>
